<% if entries.present? %>
  <table class="entry-table">
    <thead>
      <tr>
        <td class="entry-date">Date</td>
        <td class="entry-in-charge">In Charge</td>
        <td class="entry-tracker">Tracker</td>
        <td class="entry-activity">Activity</td>
        <td class="entry-comments">Comments</td>
        <td class="entry-hours">Hours</td>
      </tr>
    </thead>
    <tbody>
      <% entries.sort_by{ |id, hash| hash[:date] }.each do |id, hash| %>
        <tr class="<%= hash[:standard] == 0 && hash[:billable] == 1 ? "non-standard" : ""  %>">
          <td class="entry-date"><%= hash[:date] %></td>
          <td class="entry-in-charge"><%= hash[:in_charge] %></td>
          <td class="entry-tracker"><%= hash[:tracker] %></td>
          <td class="entry-activity"><%= hash[:activity] %></td>
          <td class="entry-comments"><%= hash[:comments] %></td>
          <td class="entry-hours"><%= hash[:hours] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3 class="center">No Activity</h3>
<% end %>
