<div id="invoice">

  <div id="address">
    <%= render "address_#{@billing.finance_issue.location.downcase}" %>
  </div>

  <div id="logo">
    <%= image_tag "fusion_systems_logo.png", plugin: "fusion_billing" %>
  </div>

  <div id="issue-date">
    <div class="row-left">
      Issue date:
    </div>
    <div class="row-right">
      <%= @billing.this_month.end.strftime("%d %b %Y") %>
    </div>
    <br>
    <div class="row-left">
      Invoice number: 
    </div>
    <div class="row-right">
      <%= @billing.current_entries.invoice_number %>
    </div>
  </div>

  <h1 id="title">
    Invoice
  </h1>

  <h1 id="client-name">
    <%= @billing.project.name.split(":")[0] %>
  </h1>

  <div id="job-name">
    <span class="row-left">
      Job name:
    </span>
    <span class="row-right">
      <%= @billing.project.name.split(":")[1] %>
    </span>
  </div>

  <div id="duration">
    <span class="row-left">
      Duration:
    </span>
    <span class="row-right">
      <%= @billing.this_month.begin.strftime("%d %b %Y") %> - <%= @billing.this_month.end.strftime("%d %b %Y") %>
    </span>
  </div>

  <h1 id="line-items-title">
    Description
  </h1>

  <div id="line-items" class="group">
    <%= render "invoice_fixed_line_items" %>
  </div>

  <div id="footer">
    <p>Thank you for using Fusion Systems Group. We appreciate your business.</p>
  </div>

</div>
