<table id="invoice-line-items">
  <thead>
    <tr>
      <td class="invoice-service">Service</td>
      <td class="invoice-hours">Hours</td>
      <td class="invoice-rate">Rate</td>
      <td class="invoice-line-total">Line Total</td>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td class="invoice-service">Service Fee</td>
      <td class="invoice-hours">-</td>
      <td class="invoice-rate">-</td>
      <td class="invoice-line-total"><%= number_to_currency(@billing.finance_issue.value_to_fusion_once_off, locale: @billing.finance_issue.locale) %></td>
    </tr>

  </tbody>
</table>

<div id="line-items-totals" class="group">
  <div id="sub-total">
    <span class="row-left">
      Sub total:
    </span>
    <span class="row-right">
      <%= number_to_currency(@billing.finance_issue.value_to_fusion_once_off, locale: @billing.finance_issue.locale) %>
    </span>
  </div>
  <% if @billing.finance_issue.location == "TK" %>
    <div id="tax-rate">
      <span class="row-left">
        Tax (<%= @billing.finance_issue.tax_rate %>)
      </span>
      <span class="row-right">
        <%= number_to_currency(@billing.current_entries.fixed_tax, locale: @billing.finance_issue.locale ) %>
      </span>
    </div>
  <% end %>
  <div id="total-charge">
    <span class="row-left">
      Total
    </span>
    <span class="row-right">
      <%= number_to_currency((@billing.current_entries.fixed_charge + @billing.current_entries.fixed_tax), locale: @billing.finance_issue.locale ) %>
    </span>
  </div>
</div>
