<table id="invoice-line-items">
  <thead>
    <tr>
      <td class="invoice-service">Service</td>
      <td class="invoice-hours">Hours</td>
      <td class="invoice-rate">Rate</td>
      <td class="invoice-line-total">Line Total</td>
    </tr>
  </thead>
  <tbody>

    <% @billing.current_entries.standard_hours_line_item.each do |line_item| %>
      <tr>
        <td class="invoice-service">Standard Business Hours:<br><%= line_item[0] %></td>
        <td class="invoice-hours"><%= line_item[1] %></td>
        <td class="invoice-rate"><%= number_to_currency(@billing.finance_issue.fsg_billable_rate, locale: @billing.finance_issue.locale) %></td>
        <td class="invoice-line-total"><%= number_to_currency(@billing.current_entries.fsg_charge, locale: @billing.finance_issue.locale) %></td>
      </tr>
    <% end if @billing.current_entries.standard_hours_line_item.present? %>

  </tbody>
</table>

<div id="line-items-totals" class="group">
  <div id="sub-total">
    <span class="row-left">
      Sub total:
    </span>
    <span class="row-right">
      <%= number_to_currency(@billing.current_entries.fsg_charge, locale: @billing.finance_issue.locale) %>
    </span>
  </div>
  <% if @billing.finance_issue.location == "TK" %>
    <div id="tax-rate">
      <span class="row-left">
        Tax (<%= @billing.finance_issue.tax_rate %>)
      </span>
      <span class="row-right">
        <%= number_to_currency(@billing.current_entries.fsg_tax, locale: @billing.finance_issue.locale ) %>
      </span>
    </div>
  <% end %>
  <div id="total-charge">
    <span class="row-left">
      Total
    </span>
    <span class="row-right">
      <%= number_to_currency((@billing.current_entries.fsg_total_charge + @billing.current_entries.tax), locale: @billing.finance_issue.locale ) %>
    </span>
  </div>
</div>
