<div id="locale-links" class="center">
  <%= link_to "JPY", fusion_invoicing_date_path(@billing.project, params[:year], params[:month], :ja), class: (@billing.finance_issue.locale == "ja" ? 'active' : '') %>
  <%= link_to "HKD", fusion_invoicing_date_path(@billing.project, params[:year], params[:month], "zh-HK"), class: (@billing.finance_issue.locale == "zh-HK" ? 'active' : '') %>
  <%= link_to "CNY", fusion_invoicing_date_path(@billing.project, params[:year], params[:month], "zh-CN"), class: (@billing.finance_issue.locale == "zh-CN" ? 'active' : '') %>
  <%= link_to "USD", fusion_invoicing_date_path(@billing.project, params[:year], params[:month], :en), class: (@billing.finance_issue.locale == "en" ? 'active' : '') %>
</div>
