<% current_date = Date.new(
  params[:year].nil? ? (Date.today.beginning_of_month << 1).year : params[:year].to_i,
  params[:month].nil? ? (Date.today.beginning_of_month << 1).month : params[:month].to_i,
  1) %>

<% next_month = current_date >> 1 %>

<% last_month = current_date << 1 %>

<div id="navigation" class="navigation-container center group">
  <%= link_to content_tag(:span, "&lang;".html_safe, class: "link-angle"), fusion_invoicing_date_path(@project, last_month.year, last_month.month, params[:locale]), class: "previous-link" %>

  <%= link_to content_tag(:span, "&rang;".html_safe, class: "link-angle"), fusion_invoicing_date_path(@project, next_month.year, next_month.month, params[:locale]), class: "next-link" %>

  <span class="years-span">
    <% ((Date.today.year - 5)..Date.today.year).each do |year| %>
      <%= link_to content_tag(:span, year, class: "year-link #{year == current_date.year ? 'active' : ''}"), fusion_invoicing_date_path(@project, year, current_date.month, params[:locale]) %>
    <% end %>
  </span>

  <span class="months-span">
    <% (1..12).each do |month| %>
      <%= link_to content_tag(:span, month, class: "month-link #{month == current_date.month ? 'active' : ''}"), fusion_invoicing_date_path(@project, current_date.year, month, params[:locale]) %>
    <% end %>
  </span>

</div>

