<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'billing', plugin: 'fusion_billing' %>
  <%= stylesheet_link_tag 'invoice_print', plugin: 'fusion_billing', media: 'print' %>
<% end %>

<% current_locale = params[:locale] || :en %>

<h2 id="project-name" class="center"><%= @billing.project.name %></h2>

<h3 id="title-date" class="center date"><%= render "date" unless @billing.errors.present? || @billing.sub_projects.present? || (!@billing.finance_issue.nil? && @billing.finance_issue.sow_type == "Fixed") %></h3>

<%= render "navigation" unless @billing.errors.present? || @billing.sub_projects.present? || (!@billing.finance_issue.nil? && @billing.finance_issue.sow_type == "Fixed") %>

<%= render "locales" if @billing.sub_projects.empty? && @billing.errors.empty? %>

<%= render "tree" if @billing.sub_projects.present? %>

<%= render "errors" if @billing.errors.present? %> 

<%= render "invoice_#{@billing.finance_issue.sow_type.parameterize.underscore}#{@billing.finance_issue.synthetic == "1" ? "_synthetic" : "" }" unless @billing.errors.present? || @billing.finance_issue.nil? || @billing.sub_projects.present? %>

<div id="real-time-entry-table">
  <%= render "entry_table", entries: @billing.current_entries.billable_entries unless @billing.errors.present? || @billing.finance_issue.nil? || @billing.sub_projects.present? || @billing.finance_issue.sow_type == "Fixed" %>
</div>

