<% current_date = Date.new(
  params[:year].nil? ? (Date.today.beginning_of_month << 1 ).year : params[:year].to_i,
  params[:month].nil? ? (Date.today.beginning_of_month << 1 ).month : params[:month].to_i,
  1) %>

<% next_month = current_date >> 1 %>

<% last_month = current_date << 1 %>

<div class="navigation-container center group">
  <%= link_to content_tag(:span, "&lang;".html_safe, class: "link-angle"), revenue_report_path(last_month.year, last_month.month), class: "previous-link" %>

  <%= link_to content_tag(:span, "&rang;".html_safe, class: "link-angle"), revenue_report_path(next_month.year, next_month.month), class: "next-link" %>

  <span class="years-span">
    <% ((Date.today.year - 5)..Date.today.year).each do |year| %>
      <%= link_to content_tag(:span, year, class: "year-link #{year == current_date.year ? 'active' : ''}"), revenue_report_path(year, current_date.month) %>
    <% end %>
  </span>

  <span class="months-span">
    <% (1..12).each do |month| %>
      <%= link_to content_tag(:span, month, class: "month-link #{month == current_date.month ? 'active' : ''}"), revenue_report_path(current_date.year, month) %>
    <% end %>
  </span>

</div>
