<h3>Reports</h3>

<ul class="queries">

  <li class="query">
    <%= link_to "Revenue", revenue_report_path %>
  </li>

  <li class="query">
    <%= link_to "Invoicing", fusion_invoicing_report_path %>
  </li>

</ul>
