<% content_for :header_tags do %>
  <%= javascript_include_tag :fusion_invoicing, plugin: 'fusion_billing' %>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2>Invoicing report</h2>

<%= render "fusion_reports/invoicing/navigation" %>

<%= form_tag(fusion_invoicing_create_invoices_path(params[:year] || Date.today.year, params[:month] || Date.today.month), method: :post)  do %>
  <table id="invoicing-issues">
    <thead>
      <tr>
        <td>Tracker</td>
        <td>Start date</td>
        <td>Due date</td>
        <td><%= check_box_tag :check_all %></td>
        <td>Finance issue</td>
        <td>Invoice issue</td>
      </tr>
    </thead>
    <tbody>
      <% @report.non_invoiced_issues.each do |item| %>
        <tr>
          <td><%= item[:financial_tracker] %></td>
          <td><%= item[:financial_start_date] %></td>
          <td><%= item[:financial_due_date] %></td>
          <td><%= check_box_tag "projects[#{item[:financial_subject]}]", "{project_id: #{item[:project_id]}, financial_account_manager: '#{item[:financial_account_manager]}'}", (((item[:financial_tracker] == "Support" && item[:financial_generate_next_invoice_after] <= @report.dates.begin) && item[:invoice_id].nil?) || (item[:financial_tracker] == "Delivery" && @report.dates.include?(item[:financial_due_date]))), class: "create-invoice-checkbox" %></td>
          <td><%= link_to item[:financial_subject], issue_path(item[:financial_id]) %></td>
          <td><%= link_to item[:invoice_subject], issue_path(item[:invoice_id]) unless item[:invoice_id].nil? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button class="button create-invoices">Create Invoices</button>
<% end %>

