<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'reports_revenue', plugin: 'fusion_billing' %>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2 class="center">Revenue report</h2>

<%= render "fusion_reports/revenue/navigation" %>

<%= link_to "Download CSV", revenue_report_path(format: 'csv') %>

<table id="revenue_table">
  <thead>
    <tr>
      <td>Project</td>
      <td>SOW Type</td>
      <td>Beginning Date</td>
      <td>End Date</td>
      <td>Revenue</td>
    </tr>
  </thead>
  <tbody>
    <% @report.itms_projects.each do |itms_project| %>
      <tr>
        <td><%= itms_project.name %></td>
        <td><%= itms_project.finance_issue.instance_variable_get("@sow_type") %></td>
        <td><%= itms_project.beginning_date %></td>
        <td><%= itms_project.end_date %></td>
        <td><%= itms_project.total_charge %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# debug @report.finance_issues %>
<%# debug @report.finance_issue_subjects %>
<%# debug @report.get_itms_projects %>
