.group:after {
  content: "";
  clear: both;
  display: table;
}

.navigation-container {
  width: 40%;
  margin: 0 auto;
  padding: 25px;
}

.previous-link {
  float: left;
  width: 2em;
}

.year-link {
  padding: 0 10px;
}

.month-link {
  padding: 0 10px;
}

#locale-links .active,
.year-link.active,
.month-link.active {
  color: red;
}

.next-link {
  float: right;
  width: 2em;
}

.link-angle {
  font-size: 2em;
}

.previous-link:hover,
.next-link:hover,
.year-link:hover,
.month-link:hover {
  background-color: #ddd;
  text-decoration: none;
}

.years-span,
.months-span {
  display: block;
}

.center {
  text-align: center;
}

table.entry-table {
  width: 100%;
}

table.entry-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  text-align: center;
}

table.entry-table tr:hover {
  background-color: #eee;
  cursor: pointer;
}

table.entry-table tr.non-standard {
  color: #a33;
}

table.entry-table tr:last-child td {
  border-bottom: none;
}

table.entry-table tbody td.entry-comments {
  text-align: left;
}

table.entry-table thead td {
  background-color: #ccc;
  border-bottom: 1px solid black;
}

table.entry-table tbody td.entry-date {
  width: 10%;
}

table.entry-table tbody td.entry-in-charge {
  width: 10%;
}

table.entry-table tbody td.entry-tracker {
  width: 10%;
}

table.entry-table tbody td.entry-activity {
  width: 10%;
}

table.entry-table tbody td.entry-comments {
  padding: 5px 15px;
}

table.entry-table tbody td.entry-hours {
  width: 10%;
}

table.entry-table tbody td.entry-charge {
  width: 10%;
}

.summary {
  padding: 10px;
  height: 75px;
}

.summary-box {
  display: inline-block;
  width: 15vh;
}

.summary-content {
  font-size: 2em;
}

/*********************************** INVOICING ***********************************/

#invoice {
  width: 210mm;
  margin: 0 auto;
  border: 1px solid black;
}

#logo {
  padding: 10px;
}

#address {
  float: right;
  text-align: right;
  padding: 10px;
}

#issue-date {
  clear: both;
  float: right;
}

#issue-date .row-left {
  display: inline-block;
  width: 150px;
}

#issue-date .row-right {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#title {
  clear: both;
  text-align: center;
}

#client-name,
#line-items-title,
#service-details-title {
  padding: 10px;
}

.row-left {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 0 10px;
}

#invoice-line-items {
  width: 100%;
  padding: 5px 25px 0px;
}

#invoice-line-items thead {
  text-align: center;
}

#invoice-line-items td {
  border-bottom: 1px solid black;
}

#invoice-line-items tbody td {
  font-size: 1.25em;
}

#invoice-line-items .invoice-service {
  width: 40%;
}

#invoice-line-items tbody .invoice-hours {
  width: 20%;
  text-align: right;
}

#invoice-line-items tbody .invoice-rate {
  width: 20%;
  text-align: right;
}

#invoice-line-items tbody .invoice-line-total {
  width: 20%;
  text-align: right;
}

#line-items-totals {
  float: right;
  padding: 5px 25px;
  font-size: 1.25em;
  text-align: right;
}

#line-items-totals .row-right {
  display: inline-block;
  width: 125px;
}

#footer {
  background-color: #fff;
  border-top: 2px solid #ccc;
  margin-top: 15px;
}

