.group:after {
  content: "";
  clear: both;
  display: table;
}

body * {
  visibility: hidden;
}

#real-time-entry-table * {
  display: none;
}

#project-tree * {
  display: none;
}

#navigation * {
  display: none;
}

div#invoice * {
  visibility: visible;
}

.center {
  text-align: center;
}

table.entry-table {
  width: 100%;
}

table.entry-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  text-align: center;
}

table.entry-table tr.non-standard {
  color: #a33;
}

table.entry-table tbody td.entry-comments {
  text-align: left;
}

table.entry-table thead td {
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
}

table.entry-table tbody td.entry-date {
  width: 10%;
}

table.entry-table tbody td.entry-in-charge {
  width: 10%;
}

table.entry-table tbody td.entry-tracker {
  width: 10%;
}

table.entry-table tbody td.entry-activity {
  width: 10%;
  page-break-inside: avoid;
}

table.entry-table tbody td.entry-comments {
  padding: 5px 15px;
}

table.entry-table tbody td.entry-hours {
  width: 10%;
}

#invoice {
  width: 210mm;
  margin: 0 auto;
  border: 1px solid black;
}

#logo {
  padding: 10px;
}

#address {
  float: right;
  text-align: right;
  padding: 10px;
}

#issue-date {
  clear: both;
  float: right;
}

#issue-date .row-left {
  display: inline-block;
  width: 150px;
}

#issue-date .row-right {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#title {
  clear: both;
  text-align: center;
}

#client-name,
#line-items-title,
#service-details-title {
  padding: 10px;
}

.row-left {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 0 10px;
}

#invoice-line-items {
  width: 100%;
  padding: 5px 25px 0px;
}

#invoice-line-items thead {
  text-align: center;
}

#invoice-line-items td {
  border-bottom: 1px solid black;
}

table.entry-table tr:last-child td {
  border-bottom: none;
}

#invoice-line-items tbody td {
  font-size: 1.25em;
}

#invoice-line-items .invoice-service {
  width: 40%;
}

#invoice-line-items tbody .invoice-hours {
  width: 20%;
  text-align: right;
}

#invoice-line-items tbody .invoice-rate {
  width: 20%;
  text-align: right;
}

#invoice-line-items tbody .invoice-line-total {
  width: 20%;
  text-align: right;
}

#line-items-totals {
  float: right;
  padding: 5px 25px;
  font-size: 1.25em;
  text-align: right;
}

#line-items-totals .row-right {
  display: inline-block;
  width: 125px;
}

#footer {
  display: block;
  border-top: 2px solid #ccc;
  margin-top: 15px;
}
