.center {
  text-align: center;
}

.navigation-container {
  width: 50%;
  margin: 25px auto;
  font-size: 1.25em;
}

.navigation-container a:hover {
  background-color: #ddd;
}

.previous-link {
  float: left;
  width: 2em;
  height: 2em;
}

.next-link {
  float: right;
  width: 2em;
  height: 2em;
}

.years-span {
  display: block;
}

.years-span .active,
.months-span .active {
  color: red;
}

.month-span {
  display: block;
}

table#invoicing-issues thead {
  text-align: center;
  background-color: #ccc;
}

table#invoicing-issues thead td {
  padding: 10px 0;
}

button {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 20px 0;
  width: 100%;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
