.center {
  text-align: center;
}

.navigation-container {
  width: 50%;
  margin: 25px auto;
  font-size: 1.25em;
}

.navigation-container a:hover {
  background-color: #ddd;
}

.previous-link {
  float: left;
  width: 2em;
  height: 2em;
}

.next-link {
  float: right;
  width: 2em;
  height: 2em;
}

.years-span {
  display: block;
}

.years-span .active,
.months-span .active {
  color: red;
}

.month-span {
  display: block;
}

#revenue_table {
  width: 100%;
}

#revenue_table thead {
  background-color: #ccc;
}

#revenue_table thead tr {
  text-align: center;
  font-size: 1.25em;
}

#revenue_table tbody tr td {
  padding: 0 10px;
}

#revenue_table tbody tr td:not(:first-child) {
  text-align: right;
}
