<%= render "navigation" %>

<%= link_to "Download CSV", fusion_billing_date_path(year: params[:year], month: params[:month], format: "csv") unless @billing.current_entries.empty? %>

<%= render "entry_table", entries: @billing.current_entries.billable_entries %>

