<% content_for :header_tags do %>
  <%= javascript_include_tag :fusion_billing, plugin: 'fusion_billing' %>
<% end %>

  <table class="entry-table">
    <thead>
      <tr>
        <td class="entry-date">Date</td>
        <td class="entry-in-charge">In Charge</td>
        <td class="entry-tracker">Tracker</td>
        <td class="entry-activity">Activity</td>
        <td class="entry-comments">Comments</td>
        <td class="entry-hours">Hours</td>
        <td class="entry-charge">Charge</td>
      </tr>
    </thead>
    <tbody>
      <% entries.sort_by{ |id, hash| hash[:date] }.each do |id, hash| %>
        <tr data-link="<%= edit_time_entry_path(id) %>"  class="<%= hash[:standard] == 0 && hash[:billable] == 1 ? "non-standard" : ""  %>">
          <td class="entry-date"><%= hash[:date] %></td>
          <td class="entry-in-charge"><%= hash[:in_charge] %></td>
          <td class="entry-tracker"><%= hash[:tracker] %></td>
          <td class="entry-activity"><%= hash[:activity] %></td>
          <td class="entry-comments"><%= hash[:comments] %></td>
          <td class="entry-hours"><%= hash[:hours] %></td>
          <td class="entry-charge"><%= hash[:charge] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
