<div class="summary center">

  <div class="summary-box">
    <div class="summary-title">Total hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.total_hours, precision: 2, delimiter: "," ) %></div>
  </div>

</div>
