<%= render "navigation" %>

<%= render (@billing.finance_issue.ignore_ro == "1" || @billing.finance_issue.ignore_ro.nil? ? "without_rollover" : "with_rollover") %>

<div class="charges center">

  <div class="standard-charge">
    Standard charge: <%= number_with_precision(@billing.current_entries.standard_charge, precision: 2, delimiter: "," ) %>
  </div>

  <div class="non-standard-charge">
    Non-standard charge: <%= number_with_precision(@billing.current_entries.non_standard_charge, precision: 2, delimiter: "," ) %>
  </div>

  <div class="contractual-charge">
    Contractual charge: <%= number_with_precision(@billing.current_entries.contractual_charge, precision: 2, delimiter: "," ) %>
  </div>

  <div class="additional-charge">
    Additional charge: <%= number_with_precision(@billing.finance_issue.additional_service_fees, precision: 2, delimiter: "," ) %>
  </div>

  <div class="total-charge">
    Total charge: <%= number_with_precision(@billing.current_entries.total_charge, precision: 2, delimiter: "," ) %>
  </div>

</div>

<%= link_to "Download CSV", fusion_billing_date_path(year: params[:year], month: params[:month], format: "csv") unless @billing.current_entries.empty? %>

<%= render "entry_table", entries: @billing.current_entries.billable_entries %>
<%= render "entry_table", entries: @billing.current_entries.non_billable_entries %>

