<div class="summary center">
  (
  <div class="summary-box">
    <div class="summary-title">Contractual hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.finance_issue.contractual_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  -
  <div class="summary-box">
    <div class="summary-title">Standard hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.standard_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  =
  <div class="summary-box">
    <div class="summary-title">Rollover hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.rollover_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  )
</div>

