<%= render "navigation" %>

<div class="summary center">
  <div class="summary-box">
    <div class="summary-title">Billable hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.billable_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  +
  <div class="summary-box">
    <div class="summary-title">Non-billable hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.non_billable_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  =
  <div class="summary-box">
    <div class="summary-title">Total hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.total_hours, precision: 2, delimiter: "," ) %></div>
  </div>
</div>

<%= render "rollover" unless @billing.finance_issue.ignore_ro == "1" %>

<div class="charges center">
  <div class="total-charge">
    Total charge: <%= number_with_precision(@billing.current_entries.fsg_charge, precision: 2, delimiter: "," ) %>
  </div>
</div>

<%= link_to "Download CSV", fusion_billing_date_path(year: params[:year], month: params[:month], format: "csv") unless @billing.current_entries.empty? %>

<%= render "entry_table", entries: @billing.current_entries.billable_entries %>
<%= render "entry_table", entries: @billing.current_entries.non_billable_entries %>

