<div class="summary center">
  (
  <div class="summary-box">
    <div class="summary-title">Standard hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.standard_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  +
  <div class="summary-box">
    <div class="summary-title">Non-standard hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.non_standard_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  =
  <div class="summary-box">
    <div class="summary-title">Billable hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.billable_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  )
  +
  <div class="summary-box">
    <div class="summary-title">Non-billable hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.non_billable_hours, precision: 2, delimiter: "," ) %></div>
  </div>
  =
  <div class="summary-box">
    <div class="summary-title">Total hours:</div>
    <div class="summary-content"><%= number_with_precision(@billing.current_entries.total_hours, precision: 2, delimiter: "," ) %></div>
  </div>
</div>
