<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'billing', plugin: 'fusion_billing' %>
<% end %>

<h2 class="center"><%= @billing.project.name %> <%= render "sow_type" unless @billing.sub_projects.present? %></h2>
<h3 class="center"><%= render 'date' unless @billing.sub_projects.present? %></h3>

<%= render "errors" if @billing.errors.present? %>

<%= render "tree" if @billing.sub_projects.present? %>

<%= render "#{@billing.finance_issue.sow_type.parameterize.underscore}#{@billing.finance_issue.synthetic == "1" ? "_synthetic" : nil}" unless @billing.sub_projects.present? || @billing.errors.present? %>
